**/.D*
private/**
**/*.log
.*.swp
**/*.obj
**/*.prn
**/*.hex
**/*.PRN
**/*.HEX
**/*.map
**/*.crf
**/*.lst
vm_*
rom
x*.exe
x*.com
mssys.com
mssys.exe
ibmbio.com
ibmbio.exe
ibmcmd.com
ibmcmd.exe
ibmdos.com
ibmdos.exe
ibmsys.com
ibmsys.exe
hex2bin.com
trans.com
cls.exe
cls.com
mem.exe
mem.com
ver.com
ver.exe
asm.com
tran.com
hello.com
mscmd.asm
mscmdex.asm
msdos_*.img
pcdos_*.img
